[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
line-bot-sdk = "*"
openai = "*"
supabase = {extras = ["async"], version = "*"}
imgurpython = {extras = ["async"], version = "*"}
httpx = "*"
playwright = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.13"
