[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
click = "*"
httplib2 = "*"
itsdangerous = "*"
oauth2 = "*"
pycparser = "*"
python-editor = "*"
requests = "*"
webassets = "*"
gunicorn = "*"
beautifulsoup4 = "*"
line-bot-sdk = "*"
imgurpython = "*"
psycopg2-binary = "*"
flask = {extras = ["async"], version = "*"}
Flask-Assets = "*"
Flask-Babel = "*"
Flask-Script = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
Werkzeug = "*"
gspread = "*"
oauth2client = "*"
openai = "*"
supabase = "*"
pyimgur = "*"
httpx = "*"
httpcore = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.13"
